<% provide(:title, "Library") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="article_form">
      <%= render 'shared/article_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Articles (<%= @user.articles.count %>)</h3>
    <%= render 'shared/feed' %>
  </div>
</div>