<%# markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="timestamp">
		Commented <%= time_ago_in_words(comment.created_at) %> ago. Last edited <%= time_ago_in_words(comment.updated_at) %> ago.
	</span>
  <span class="context">
    <% unless comment.reply_to.nil? %>
      <% reply_to = User.find_by(id: comment.reply_to) %>
      Reply to <%= link_to reply_to.name, reply_to %>:
    <% end %>
    <%#= markdown(comment.context) %>
    <%=  Kramdown::Document.new(comment.context).to_html.html_safe %>
  </span>
  <% if comment.user === current_user %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal<%= comment.id %>">Edit</button>
  <% else %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#replyModal<%= comment.id %>">Reply</button>
  <% end %>
  <% if current_user.admin? || comment.user === current_user %>
    <%= link_to 'delete', comment, method: :delete,
                  data: { confirm: 'You sure?'} %>
  <% end %>
</li>

<div class="modal fade" id="editModal<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit comment</h4>
      </div>
      <%= form_for(comment) do |f| %>
        <div class="modal-body">
          <%= f.label :comment %>
          <div class="field">
            <%= f.text_area :context, required: 'required', placeholder: comment.context, class: 'form-control' %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Post', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="replyModal<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Reply to <%= link_to comment.user.name, comment.user %></h4>
      </div>

      <%= form_for(@comment) do |f| %>
        <div class="modal-body">
          <%= f.label :comment %>
          <div class="field">
            <%= f.text_area :context, required: 'required', placeholder: 'Write your comment...', class: 'form-control' %>
          </div>
          <%= f.hidden_field :reply_to, value: comment.user.id %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Post', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%#= render 'shared/edit_modal'  %>
<%#= render 'shared/reply_modal'  %>