<li id="article-<%= article.id %>">
	<%= link_to gravatar_for(@user, size: 50), @user %>
	<span class="user"><%= link_to @user.name, @user %></span>
	<span class="title"><%= link_to article.title || File.basename(article.original_filename, '.pdf'), article %></span>
  <% unless article.doi.nil? %>
	  <span class="pdf"><%= link_to article.doi, 'https://dx.doi.org/' + article.doi %></span>
	<% end %>
  <span class="owner">
    Owned by <%= article.owners.count %>.
  </span>
  <span class="timestamp">
		Uploaded <%= time_ago_in_words(@user.active_ownerships.find_by(belonging: article).created_at) %> ago.
    <% if @user == current_user %>
      <%= link_to "delete", article, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
	</span>
</li>