<% provide(:title, 'Article') %>
<%#= react_component('MyPdfViewer', {filename: @article.pdf.url}) %>
<% if is_owner_of?(current_user, @article) %>
  <div id="example1"></div>
  <h2>Comments (<%= @article.comments.count %>) </h2>
  <div class="row">
    <aside class="col-md-4">
      <section class="comment_form">
        <%= render 'shared/comment_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <% unless @comments.nil? %>
        <ol class="comments">
          <%= render @comments %>
        </ol>
        <%= paginate @comments %>
      <% end %>
    </div>
  </div>
  <script>
    var options = {
      forcePDFJS: true,
      PDFJS_URL: "/web/viewer.html"
    };
    PDFObject.embed("<%= @article.pdf.url %>", "#example1", options);
  </script>
  <style>
    .pdfobject-container { height: 1000px;}
    .pdfobject { border: 1px solid #666; }
  </style>
<% else %>
    <h3>You have no access to this article.</h3>
<% end %>