<% provide(:title, @user.name) %>
<%# if current_user?(@user) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'follow_form' if logged_in? %>
      <% if @user.articles.any? %>
          <h3>Articles (<%= @user.articles.count %>)</h3>
          <ol class="articles">
            <%= render @articles %>
          </ol>
          <%= paginate @articles %>
      <% end %>
    </div>
  </div>
<%# else %>
<%# end %>