<%= form_for(@article, html: { multipart: true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.submit "Post", class: "btn btn-primary" %>
	<span class="pdf">
		<%= f.file_field :pdf, required: 'required', accept: 'application/pdf' %>
	</span>
<% end %>

<script type="text/javascript">
	$('#article-pdf').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 20) {
			alert('Maximum file size is 20MB. Please choose a smaller file.');
		}
	});
</script>