<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :comment %>
    <div class="field">
      <%= f.text_area :context, required: 'required', placeholder: 'Write your comment...', class: 'form-control' %>
    </div>
  <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>