<li id="activity-<%= activity.id %>">
  <% user = User.find_by(id: activity.user_id) %>
  <% case activity.state %>
  <% when 0 %>
    <% article = Article.find_by(id: activity.article_id) %>
    <%= link_to gravatar_for(user, size: 50), user %>
    <span class="user"><%= link_to user.name, user %></span>
    <span class="timestamp">
      Uploaded
      <%= link_to article.title || File.basename(article.original_filename, '.pdf'), article %>
      <%= time_ago_in_words(activity.updated_at) %>
      ago.
    </span>
  <% when 1 %>
    <% article = Article.find_by(id: activity.article_id) %>
    <%= link_to gravatar_for(user, size: 50), user %>
    <span class="user"><%= link_to user.name, user %></span>
    <span class="timestamp">
    Commented
      <%= link_to article.title || File.basename(article.original_filename, '.pdf'), article %>
      <%= time_ago_in_words(activity.updated_at) %>
    ago.
    </span>
  <% when 2 %>
    <% followed = User.find_by(id: activity.following_id) %>
    <%= link_to gravatar_for(user, size: 50), user %>
    <span class="user"><%= link_to user.name, user %></span>
    <span class="timestamp">
      Followed
      <%= link_to followed.name, followed %>
      <%= time_ago_in_words(activity.updated_at) %>
      ago.
    </span>
  <% end %>
</li>