<footer class="footer">
  <small>
    Powered by <%= link_to "Zukdoor Co., Ltd", root_path %>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>